GitHubScraper/obj/GitHubScraper.csproj.nuget.dgspec.json
GitHubScraper/obj/GitHubScraper.csproj.nuget.g.props
GitHubScraper/obj/GitHubScraper.csproj.nuget.g.targets
GitHubScraper/obj/project.assets.json
GitHubScraper/obj/project.nuget.cache
GitHubScraper/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
GitHubScraper/obj/Debug/net6.0/apphost.exe
GitHubScraper/obj/Debug/net6.0/GitHubScraper.AssemblyInfo.cs
GitHubScraper/obj/Debug/net6.0/GitHubScraper.AssemblyInfoInputs.cache
GitHubScraper/obj/Debug/net6.0/GitHubScraper.assets.cache
GitHubScraper/obj/Debug/net6.0/GitHubScraper.csproj.AssemblyReference.cache
GitHubScraper/obj/Debug/net6.0/GitHubScraper.csproj.CoreCompileInputs.cache
GitHubScraper/obj/Debug/net6.0/GitHubScraper.csproj.FileListAbsolute.txt
GitHubScraper/obj/Debug/net6.0/GitHubScraper.dll
GitHubScraper/obj/Debug/net6.0/GitHubScraper.GeneratedMSBuildEditorConfig.editorconfig
GitHubScraper/obj/Debug/net6.0/GitHubScraper.genruntimeconfig.cache
GitHubScraper/obj/Debug/net6.0/GitHubScraper.GlobalUsings.g.cs
GitHubScraper/obj/Debug/net6.0/GitHubScraper.pdb
GitHubScraper/obj/Debug/net6.0/ref/GitHubScraper.dll
GitHubScraper/obj/Release/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
GitHubScraper/obj/Release/net6.0/apphost.exe
GitHubScraper/obj/Release/net6.0/GitHubScraper.AssemblyInfo.cs
GitHubScraper/obj/Release/net6.0/GitHubScraper.AssemblyInfoInputs.cache
GitHubScraper/obj/Release/net6.0/GitHubScraper.assets.cache
GitHubScraper/obj/Release/net6.0/GitHubScraper.csproj.AssemblyReference.cache
GitHubScraper/obj/Release/net6.0/GitHubScraper.csproj.CoreCompileInputs.cache
GitHubScraper/obj/Release/net6.0/GitHubScraper.csproj.FileListAbsolute.txt
GitHubScraper/obj/Release/net6.0/GitHubScraper.dll
GitHubScraper/obj/Release/net6.0/GitHubScraper.GeneratedMSBuildEditorConfig.editorconfig
GitHubScraper/obj/Release/net6.0/GitHubScraper.genruntimeconfig.cache
GitHubScraper/obj/Release/net6.0/GitHubScraper.GlobalUsings.g.cs
GitHubScraper/obj/Release/net6.0/GitHubScraper.pdb
GitHubScraper/obj/Release/net6.0/ref/GitHubScraper.dll
GitHubScraper/bin/Debug/net6.0/GitHubScraper.deps.json
GitHubScraper/bin/Debug/net6.0/GitHubScraper.dll
GitHubScraper/bin/Debug/net6.0/GitHubScraper.exe
GitHubScraper/bin/Debug/net6.0/GitHubScraper.pdb
GitHubScraper/bin/Debug/net6.0/GitHubScraper.runtimeconfig.json
GitHubScraper/bin/Debug/net6.0/ref/GitHubScraper.dll
GitHubScraper/bin/Release/net6.0/GitHubScraper.deps.json
GitHubScraper/bin/Release/net6.0/GitHubScraper.dll
GitHubScraper/bin/Release/net6.0/GitHubScraper.exe
GitHubScraper/bin/Release/net6.0/GitHubScraper.pdb
GitHubScraper/bin/Release/net6.0/GitHubScraper.runtimeconfig.json
GitHubScraper/bin/Release/net6.0/ref/GitHubScraper.dll
GitHubScraper/bin/Release/net6.0/README.md
